body {
  background-color: #E3F2FD;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  pointer-events: none;
}

.cards {
  background: #fff;
  text-align: center;
  transition: all 0.2s ease;
  cursor: pointer;
  height: 100%;
  padding: 20px 20px 10px;
}

.cards:hover {
  box-shadow: 5px 6px 6px 2px #c0c2c3;
  transform: scale(1.1);
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

[class*="col-"] {
  margin-bottom: 30px;
}